@inject IViewProductsByNameUseCase ViewProductsByNameUseCase



<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (products is not null && products.Count > 0)
        {
            foreach (var Product in products)
            {
                <ProductListItemComponent @rendermode="InteractiveServer" Product="Product"/>
            }
        }
    </tbody>
</table>
@code {
    private List<Product>? products;
    [Parameter]
    public string? Search { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        products = (await ViewProductsByNameUseCase.ExecuteAsync(Search??string.Empty)).ToList();
    }
}
