@page "/products"
<h3>ProductList</h3>
<br/>
<br />
<SearchComponent OnSearch="HandleSearch"></SearchComponent>
<br/>
<ProductListComponent Search="@productNameToSearch" />
<br/>
<br />
<a href="/addproduct" class="btn btn-primary">Add Product</a>

@code {
    private string? productNameToSearch;
    private void HandleSearch(string searchFilter)
    {
        productNameToSearch = searchFilter;
    }
}